apiVersion: v1
kind: ConfigMap
metadata:
  name: es-config
data:
  elasticsearch.yml: |
    cluster.name: "code-du-travail-data-elasticsearch"
    node.name: "code-du-travail-data-elasticsearch-single-node"
    network.host: 0.0.0.0
    discovery.type: single-node
    http.cors.enabled: true
    http.cors.allow-origin: "*"
    xpack.security.enabled: false
    xpack.monitoring.enabled: false
    xpack.ml.enabled: false
    xpack.graph.enabled: false
    xpack.watcher.enabled: false
  ES_JAVA_OPTS: -Xms512m -Xmx512m

---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: elasticsearch-${BRANCH_NAME}
spec:
  serviceName: elasticsearch-${BRANCH_NAME}
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: elasticsearch-${BRANCH_NAME}
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: init-sysctl
        image: busybox
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        command: ["sysctl", "-w", "vm.max_map_count=262144"]
      containers:
      - name: elasticsearch-${BRANCH_NAME}
        resources:
          requests:
            memory: 1Gi
        securityContext:
          privileged: true
          runAsUser: 1000
          capabilities:
            add:
            - IPC_LOCK
            - SYS_RESOURCE
        image: registry.gitlab.factory.social.gouv.fr/socialgouv/code-du-travail-numerique/elasticsearch:${IMAGE_TAG}
        env:
        - name: ES_JAVA_OPTS
          valueFrom:
            configMapKeyRef:
              name: es-config-${BRANCH_NAME}
              key: ES_JAVA_OPTS
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /_cluster/health?local=true
            port: 9200
          initialDelaySeconds: 5
        ports:
        - containerPort: 9200
          name: es-http
        - containerPort: 9300
          name: es-transport
        volumeMounts:
        - name: es-data-${BRANCH_NAME}
          mountPath: /usr/share/elasticsearch/data
        - name: elasticsearch-config-${BRANCH_NAME}
          mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
          subPath: elasticsearch.yml
      volumes:
      - name: elasticsearch-config-${BRANCH_NAME}
        configMap:
          name: es-config-${BRANCH_NAME}
          items:
          - key: elasticsearch.yml
            path: elasticsearch.yml
      - name: es-data-${BRANCH_NAME}
        emptyDir: {}
