.article {
  display: flex;
  flex-direction: row;
  width: calc(100% + 40px);
  align-items: flex-start;
  margin-top: 20px;
}

.article__icon {
  flex: 0 0 100px;
  padding: 0 30px;
  text-align: center;
  color: var(--color-light-text);
  align-self: center;
}

.article__header {
  flex: 1 0 auto;
  flex-shrink: 1;
  padding-right: 20px;
}

.article__title {
  font-size: var(--font-size-h1);
  font-weight: 600;
}

.article__content {
  margin: 20px 130px 20px 100px;
  text-align: left;
}

.article__tags {
  margin-left: -10px;
}

.aside-title {
  padding: var(--spacing-inter-component) 0;
  font-size: var(--font-size-h5);
  font-weight: 600;
  color: var(--color-black);
}

.article__document-type {
  color: var(--color-light-text);
  font-weight: 600;
}

.article__date {
  color: var(--color-grey);
  font-size: var(--font-size-small);
  display: inline-block;
  margin-left: 1em;
}
.article__date-value {
  color: var(--color-light-text);
  font-weight: 600;
}
