.breadcrumb {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    & [class^="breadcrumb-item"] + [class^="breadcrumb-item"] {
        padding-left: var(--spacing-small);
    }

    & [class^="breadcrumb-item"] + [class^="breadcrumb-item"]::before {
        display: inline-block;
        padding-right: var(--spacing-small);
        content: '/';
    }

}
