.btn-large {
  text-decoration: none;
  border: 1px var(--color-element-border) solid;
  border-radius: var(--border-radius-base);
  padding: var(--spacing-medium);
  background-color: var(--color-element-background);
  display: flex;
  text-decoration: none;
  margin-bottom: var(--spacing-inter-component);
  transition: 200ms color, 200ms box-shadow;
}
.btn-large:link,
.btn-large:visited {
  color: var(--color-dark-tex);
  text-decoration: none;
}
.btn-large:hover {
  color: var(--color-blue-dark);
  box-shadow: var(--box-shadow);
}

.btn-download {
  align-items: center;
}
.btn-download:link,
.btn-download:visited {
  text-decoration: none;
  color: var(--color-black);
}
.btn-download--icon {
  color: var(--color-light-text);
}
.btn-download--label {
  display: block;
  font-weight: 700;
  color: var(--color-dark-text);
}
.btn-download--extension,
.btn-download--type {
  font-size: var(--font-size-xsmall);
  font-weight: 700;
  color: var(--color-dark-text);
}
.btn-download--extension {
  text-transform: uppercase;
  color: var(--color-grey);
}
.btn--small {
  font-size: var(--font-size-xsmall);
  padding: var(--spacing-xsmall) var(--spacing-small);
  font-weight: 400;
}
