.main-footer {
    display: flex;
    justify-content: space-between;
}

@media (--breakpoint-mobile) {
    .main-footer {
        display: block;
    }
}

.footer__block {

    flex: 1;

    &:not(:last-child) {
        margin-right: 3rem;
    }

    & h3 {
        font-size: var(--font-size-base);
        font-weight: 700;
    }

    & ul {
        list-style-type: none;
        padding: 0;
        font-size: var(--font-size-small);
    }

    & ul li {
        margin: 6px 0;
    }

    & a {
        color: var(--color-dark-text);
    }

}
