.no-answer {
  display: flex;
  padding: var(--spacing-medium);
}
.no-answer__illus {
  align-self: flex-start;
  margin-top: 1rem;
  flex: 0 1 90px;
  color: var(--color-light-text);
  margin-right: 1rem;
}
.no-answer__content {
  flex: 1 1 auto;
}

.no-answer__button {
  font-size: var(--font-size-small);
}
