.tag {
  display: inline-block;
  padding: 7px 10px 7px 10px;
  margin: 10px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  min-width: 70px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: var(--color-dark-background);
  color: var(--color-dark-text);

  &.tag__primary {
    background: var(--color-primary-background);
    color: var(--color-primary-text);
  }

  &.tag__secondary {
    background: var(--color-secondary-background);
    color: var(--color-secondary-text);
  }

  &.tag__warning {
    background: var(--color-warning-background);
    color: var(--color-warning-text);
  }

  &.tag__success {
    background: var(--color-success-background);
    color: var(--color-success-text);
  }

  &.tag__info {
    background: var(--color-info-background);
    color: var(--color-info-text);
  }

  &.tag__danger {
    background: var(--color-danger-background);
    color: var(--color-danger-text);
  }
}
