.search {
    text-align: center;
}

.search__form {

    display: flex;
    padding: var(--spacing-small) 0 0 0;

    & .search__input {
        flex: 1 1 auto;
        min-width: 14rem; /* Never shrink so small that we can't read the placeholder. */
    }

    & button {
        margin-left: 5px;
    }

}
