table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    text-align: left;
    border: 1px solid var(--color-element-border);
}

table caption {
    font-style: italic;
    text-align: center;
    padding: 0.625rem 0;
}

table td,
table th {
    padding: 0.625rem 1rem;
    border: 1px solid var(--color-element-border);
}

table th {
  background: var(--color-element-background);
}

table thead,
table tfoot {
    vertical-align: bottom;
    padding: 0.625rem 1rem;
    background: var(--color-element-background);
}

table tfoot {
    vertical-align: top;
}
