# these variables are used in the docker build and run phases

NODE_ENV=production

# frontend
FRONTEND_PORT=3000
API_URL=https://api-master-code-travail.dev.fabrique.social.gouv.fr/api/v1
API_SIRET2IDCC_URL=https://siret2idcc.fabrique.social.gouv.fr/api/v2
API_ENTREPRISE_URL=https://entreprise.data.gouv.fr/api/sirene/v1
SENTRY_PUBLIC_DSN=https://xxxxxxx@sentry.test.com/5
PIWIK_URL=https://stats.pouet.com
PIWIK_SITE_ID=42

# API
API_PORT=1337
ELASTIC_APM_ACTIVE=0
ELASTICSEARCH_URL=http://elasticsearch:9200
NLP_URL=http://localhost:5000

#NLP_API
NLP_PORT=5000
