node_modules
coverage
dist
/.env
docker-compose.override.yml
__pycache__
package-lock.json
yarn-error.log
packages/code-du-travail-modeles/bin
packages/code-du-travail-modeles/lib
lerna-debug.log
.vscode
.DS_Store
*.tsbuildinfo
packages/code-du-travail-modeles/src/__test__/output/*

