# pnpm / npm security and trust configuration
minimum-release-age=72h
minimum-release-age-exclude=lodash.deburr,html-validate,strip-ansi,strip-ansi-cjs,wrap-ansi-cjs,string-width-cjs,string-width,wrap-ansi,@types/jest,fs-extra,lerna,@socialgouv/matomo-next
trust-policy=strict
engine-strict=true
audit=true
fund=false

# Do not run lifecycle scripts by default.
# Use the native pnpm allow-scripts config to explicitly opt packages in.
# Packages that need to run scripts for pnpm 10.24
allow-scripts={}

# Required for pnpm v10 deploy command
inject-workspace-packages=true