minimum-release-age=4320
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=@next/env
minimum-release-age-exclude[]=@next/swc-darwin-arm64
minimum-release-age-exclude[]=@next/swc-darwin-x64
minimum-release-age-exclude[]=@next/swc-linux-arm64-gnu
minimum-release-age-exclude[]=@next/swc-linux-arm64-musl
minimum-release-age-exclude[]=@next/swc-linux-x64-gnu
minimum-release-age-exclude[]=@next/swc-linux-x64-musl
minimum-release-age-exclude[]=@next/swc-win32-arm64-msvc
minimum-release-age-exclude[]=@next/swc-win32-ia32-msvc
minimum-release-age-exclude[]=@next/swc-win32-x64-msvc
minimum-release-age-exclude[]=react
minimum-release-age-exclude[]=react-dom
minimum-release-age-exclude[]=@types/react
minimum-release-age-exclude[]=@types/react-dom
minimum-release-age-exclude[]=@socialgouv/cdtn-types
minimum-release-age-exclude[]=@codegouvfr/react-dsfr
trust-policy=strict
engine-strict=true
audit=true
fund=false
inject-workspace-packages=true
ignore-scripts=true
