minimum-release-age=4320
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=@next/env
minimum-release-age-exclude[]=react
minimum-release-age-exclude[]=react-dom
minimum-release-age-exclude[]=@types/react
minimum-release-age-exclude[]=@types/react-dom
trust-policy=strict
engine-strict=true
audit=true
fund=false
inject-workspace-packages=true
ignore-scripts=true