version: "3"

services:
  elasticsearch:
    build:
      context: ./docker/elasticsearch
    ports:
      - 9200:9200

  kibana:
    image: docker.elastic.co/kibana/kibana:7.13.4
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
