.main-container {
  background: var(--background-alt-blue-france);
}

.title {
  color: var(--text-action-high-blue-france);
  font-weight: 700;
}

.paragraph {
  color: var(--text-action-high-blue-france);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 690px;
}