.main-container {
  background: var(--background-alt-blue-france);
}

.title {
  color: var(--text-action-high-blue-france);
}

.paragraph {
  color: var(--text-action-high-blue-france);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}