.main-container {
  background: var(--background-alt-blue-france);
}

.title {
  color: var(--text-action-high-blue-france);
  font-weight: 700;
  text-align: center;
}

.paragraph {
  color: var(--text-action-high-blue-france);
}

.button-container {
  display: flex;
  justify-content: center;
}