@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
  font-display: swap;
	src:
		local('/static/assets/fonts/Merriweather Regular'),
		local('/static/assets/fonts/Merriweather-Regular'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZM.woff2 */
		url('/static/assets/fonts/Merriweather_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZK.woff */
		url('/static/assets/fonts/Merriweather_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZI.eot */
		url('/static/assets/fonts/Merriweather_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=u-440qyriQwlOrhSvowK_l5-fCZL&skey=379c1eccf863c625&v=v21#Merriweather */
		url('/static/assets/fonts/Merriweather_400.svg#Merriweather') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf */
		url('/static/assets/fonts/Merriweather_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
  font-display: swap;
	src:
		local('/static/assets/fonts/Merriweather Bold'),
		local('/static/assets/fonts/Merriweather-Bold'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2 */
		url('/static/assets/fonts/Merriweather_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZWMf8.woff */
		url('/static/assets/fonts/Merriweather_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZWMf-.eot */
		url('/static/assets/fonts/Merriweather_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=u-4n0qyriQwlOrhSvowK_l52xwNZWMf9&skey=76f88370d7055e09&v=v21#Merriweather */
		url('/static/assets/fonts/Merriweather_700.svg#Merriweather') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZWMf_.ttf */
		url('/static/assets/fonts/Merriweather_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
  font-display: swap;
	src:
		local('/static/assets/fonts/Open Sans Regular'),
		local('/static/assets/fonts/OpenSans-Regular'),
		/* from https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2 */
		url('/static/assets/fonts/Open_Sans_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0d.woff */
		url('/static/assets/fonts/Open_Sans_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0f.eot */
		url('/static/assets/fonts/Open_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v17#OpenSans */
		url('/static/assets/fonts/Open_Sans_400.svg#OpenSans') format('svg'),
		/* from https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf */
		url('/static/assets/fonts/Open_Sans_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
  font-display: swap;
	src:
		local('/static/assets/fonts/Open Sans SemiBold Italic'),
		local('/static/assets/fonts/OpenSans-SemiBoldItalic'),
		/* from https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2 */
		url('/static/assets/fonts/Open_Sans_600i.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqU.woff */
		url('/static/assets/fonts/Open_Sans_600i.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqc.eot */
		url('/static/assets/fonts/Open_Sans_600i.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=memnYaGs126MiZpBA-UFUKXGUdhrIqQ&skey=5addd15a3a8d014a&v=v17#OpenSans */
		url('/static/assets/fonts/Open_Sans_600i.svg#OpenSans') format('svg'),
		/* from https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf */
		url('/static/assets/fonts/Open_Sans_600i.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/static/assets/fonts/Open_Sans_400i.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/static/assets/fonts/Open_Sans_400i.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/assets/fonts/Open_Sans_400i.woff2') format('woff2'), /* Super Modern Browsers */
  url('/static/assets/fonts/Open_Sans_400i.woff') format('woff'), /* Modern Browsers */
  url('/static/assets/fonts/Open_Sans_400i.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/static/assets/fonts/Open_Sans_400i.svg#OpenSans') format('svg'); /* Legacy iOS */
}

