:root {
  --border-radius-base: 0.25rem;
  --box-shadow-bottom: 0 10px 10px -10px #b7bcdf;
  --color-black: #0c0c0e;
  --color-blue: #005c99;
  --color-blue-dark: #04234a;
  --color-danger-background: #aa1d2b;
  --color-danger-text: #fff;
  --color-danger-text: var(--color-white);
  --color-dark-background: #ebeff3;
  --color-dark-text: #434956;
  --color-element-background: #f5f7fa;
  --color-element-border: #c9d3df;
  --color-info-background: #b1e2f8;
  --color-info-text: #0c0c0e;
  --color-info-text: var(--color-black);
  --color-light-background: #f9f9fc;
  --color-light-text: #4c5467;
  --color-primary-background: #005994;
  --color-primary-text: #fff;
  --color-primary-text: var(--color-white);
  --color-secondary-background: #c4c4c4;
  --color-secondary-text: #0c0c0e;
  --color-secondary-text: var(--color-black);
  --color-success-background: #2cb54c;
  --color-success-text: #0c0c0e;
  --color-success-text: var(--color-black);
  --color-warning-background: #ffc107;
  --color-warning-text: #0c0c0e;
  --color-warning-text: var(--color-black);
  --color-white: #fff;
  --font-size-base: 1rem;
  --font-size-h1: 1.6rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1.1rem;
  --font-size-small: 0.9rem;
  --line-height-base: 1.6;
  --spacing-base: 1rem;
  --spacing-inter-component: 1.25rem;
  --spacing-inter-component: var(--spacing-medium);
  --spacing-large: 2.5em;
  --spacing-medium: 1.25rem;
  --spacing-small: 0.625rem;
}
:focus {
  outline: 3px dotted #434956;
  outline: 3px dotted var(--color-dark-text);
}
@media (-webkit-min-device-pixel-ratio: 0) {
  :focus {
    outline: 5px auto #434956;
    outline: 5px auto var(--color-dark-text);
  }
}
.hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.center {
  text-align: center;
}
.no-margin {
  margin: 0;
}
.full-width {
  width: 100%;
}
.shadow-bottom {
  -webkit-box-shadow: 0 10px 10px -10px #b7bcdf;
  -webkit-box-shadow: var(--box-shadow-bottom);
  box-shadow: 0 10px 10px -10px #b7bcdf;
  box-shadow: var(--box-shadow-bottom);
  position: relative;
}
.external-link__before:before {
  margin-right: 5px;
}
.external-link__after:after,
.external-link__before:before {
  background: url(assets/icons/external-link.svg) no-repeat 100% 50%;
  background-size: 15px;
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
}
.external-link__after:after {
  margin-left: 5px;
}
.style-guide__color:before {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  content: "";
  display: inline-block;
  height: 2.5em;
  height: var(--spacing-large);
  margin-right: 0.625rem;
  margin-right: var(--spacing-small);
  vertical-align: middle;
  width: 2.5em;
  width: var(--spacing-large);
}
.style-guide__color__black:before {
  background: #0c0c0e;
  background: var(--color-black);
}
.style-guide__color__blue-dark:before {
  background: #04234a;
  background: var(--color-blue-dark);
}
.style-guide__color__blue:before {
  background: #005c99;
  background: var(--color-blue);
}
.style-guide__color__danger-background:before {
  background: #aa1d2b;
  background: var(--color-danger-background);
}
.style-guide__color__dark-background:before {
  background: #ebeff3;
  background: var(--color-dark-background);
}
.style-guide__color__dark-text:before {
  background: #434956;
  background: var(--color-dark-text);
}
.style-guide__color__element-background:before {
  background: #f5f7fa;
  background: var(--color-element-background);
}
.style-guide__color__element-border:before {
  background: #c9d3df;
  background: var(--color-element-border);
}
.style-guide__color__info-background:before {
  background: #b1e2f8;
  background: var(--color-info-background);
}
.style-guide__color__light-background:before {
  background: #f9f9fc;
  background: var(--color-light-background);
}
.style-guide__color__light-text:before {
  background: #4c5467;
  background: var(--color-light-text);
}
.style-guide__color__primary-background:before {
  background: #005994;
  background: var(--color-primary-background);
}
.style-guide__color__secondary-background:before {
  background: #c4c4c4;
  background: var(--color-secondary-background);
}
.style-guide__color__success-background:before {
  background: #2cb54c;
  background: var(--color-success-background);
}
.style-guide__color__warning-background:before {
  background: #ffc107;
  background: var(--color-warning-background);
}
.style-guide__color__white:before {
  background: #fff;
  background: var(--color-white);
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  border-top: 5px solid #005c99;
  border-top: 5px solid var(--color-blue);
  font-size: 1rem;
  font-size: var(--font-size-base);
  margin: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #ebeff3;
  background: var(--color-dark-background);
  color: #434956;
  color: var(--color-dark-text);
  font-family: Muli, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  line-height: 1.6;
  line-height: var(--line-height-base);
}
main {
  background: #f9f9fc;
  background: var(--color-light-background);
  color: #4c5467;
  color: var(--color-light-text);
}
.section-light {
  background-color: #f9f9fc;
  background-color: var(--color-light-background);
}
.section-dark,
.section-light {
  padding: 1.25rem 0;
  padding: var(--spacing-inter-component) 0;
}
.section-dark {
  background-color: #ebeff3;
  background-color: var(--color-dark-background);
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 1.25rem;
  padding: 0 var(--spacing-medium);
}
.wrapper-dark {
  background: #ebeff3;
  background: var(--color-dark-background);
}
.wrapper-dark,
.wrapper-light {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: #434956;
  color: var(--color-dark-text);
  padding: 0.625rem 1.25rem;
  padding: var(--spacing-small) var(--spacing-medium);
}
.wrapper-light {
  background: #fff;
  background: var(--color-white);
}
.wrapper-narrow {
  margin: 0 auto;
  max-width: 38.75rem;
}
address,
blockquote,
dl,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1rem;
  margin-bottom: var(--spacing-base);
  margin-top: 0;
}
.container > address:last-child,
.container > blockquote:last-child,
.container > dl:last-child,
.container > fieldset:last-child,
.container > h1:last-child,
.container > h2:last-child,
.container > h3:last-child,
.container > h4:last-child,
.container > h5:last-child,
.container > h6:last-child,
.container > hr:last-child,
.container > ol:last-child,
.container > p:last-child,
.container > pre:last-child,
.container > table:last-child,
.container > ul:last-child,
[class^="wrapper-"] > address:last-child,
[class^="wrapper-"] > blockquote:last-child,
[class^="wrapper-"] > dl:last-child,
[class^="wrapper-"] > fieldset:last-child,
[class^="wrapper-"] > h1:last-child,
[class^="wrapper-"] > h2:last-child,
[class^="wrapper-"] > h3:last-child,
[class^="wrapper-"] > h4:last-child,
[class^="wrapper-"] > h5:last-child,
[class^="wrapper-"] > h6:last-child,
[class^="wrapper-"] > hr:last-child,
[class^="wrapper-"] > ol:last-child,
[class^="wrapper-"] > p:last-child,
[class^="wrapper-"] > pre:last-child,
[class^="wrapper-"] > table:last-child,
[class^="wrapper-"] > ul:last-child {
  margin-bottom: 0;
}
img {
  border-style: none;
  max-width: 100%;
}
figure {
  margin: 0;
}
label {
  cursor: pointer;
}
label + textarea,
label > textarea {
  vertical-align: top;
}
fieldset {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  padding: 1rem;
  padding: var(--spacing-base);
}
input:not([type="button"]):not([type="checkbox"]):not([type="file"]):not([type="hidden"]):not([type="image"]):not([type="radio"]):not([type="range"]):not([type="reset"]):not([type="submit"]),
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  background: var(--color-white);
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0.625rem 1rem;
  padding: var(--spacing-small) var(--spacing-base);
}
textarea {
  min-height: 8rem;
}
a,
a:link,
a:visited {
  color: #005c99;
  color: var(--color-blue);
  text-decoration: underline;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
table {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  text-align: left;
}
table caption {
  font-style: italic;
  padding: 0.625rem 0;
  text-align: center;
}
table td,
table th {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  padding: 0.625rem 1rem;
}
table tfoot,
table thead {
  background: #f5f7fa;
  background: var(--color-element-background);
  padding: 0.625rem 1rem;
  vertical-align: bottom;
}
table tfoot {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005c99;
  color: var(--color-blue);
  font-weight: 700;
  line-height: 1.6;
  line-height: var(--line-height-base);
}
h1 {
  font-size: 1.6rem;
  font-size: var(--font-size-h1);
}
h2 {
  font-size: 1.5rem;
  font-size: var(--font-size-h2);
}
h3 {
  font-size: 1.4rem;
  font-size: var(--font-size-h3);
}
h4 {
  font-size: 1.3rem;
  font-size: var(--font-size-h4);
}
h5 {
  font-size: 1.2rem;
  font-size: var(--font-size-h5);
}
h6 {
  font-size: 1.1rem;
  font-size: var(--font-size-h6);
}
ol,
ul {
  padding-left: 1.25rem;
  padding-left: var(--spacing-medium);
}
hr {
  border: 1px solid #c9d3df;
  border: solid var(--color-element-border);
  border-width: 1px 0 0;
  width: 100%;
}
code {
  background: #f5f7fa;
  background: var(--color-element-background);
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-radius: 2px;
  font-family: Consolas, Monaco, Menlo, monospace;
  padding: 2px;
  word-wrap: break-word;
}
.alert {
  background: #ebeff3;
  background: var(--color-dark-background);
  border: 1px solid #cbd6e0;
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: #434956;
  color: var(--color-dark-text);
  margin-bottom: 1rem;
  margin-bottom: var(--spacing-base);
  padding: 0.625rem 1.25rem;
  padding: var(--spacing-small) var(--spacing-medium);
}
.alert *,
.alert a {
  color: inherit;
}
.alert hr {
  border-color: inherit;
}
.alert.alert__primary {
  background-color: #005994;
  background-color: var(--color-primary-background);
  border-color: #003a61;
  color: #fff;
  color: var(--color-primary-text);
}
.alert.alert__secondary {
  background-color: #c4c4c4;
  background-color: var(--color-secondary-background);
  border-color: #aaa;
  color: #0c0c0e;
  color: var(--color-secondary-text);
}
.alert.alert__warning {
  background-color: #ffc107;
  background-color: var(--color-warning-background);
  border-color: #d39e00;
  color: #0c0c0e;
  color: var(--color-warning-text);
}
.alert.alert__success {
  background-color: #2cb54c;
  background-color: var(--color-success-background);
  border-color: #228c3b;
  color: #0c0c0e;
  color: var(--color-success-text);
}
.alert.alert__info {
  background-color: #b1e2f8;
  background-color: var(--color-info-background);
  border-color: #82d1f4;
  color: #0c0c0e;
  color: var(--color-info-text);
}
.alert.alert__danger {
  background-color: #aa1d2b;
  background-color: var(--color-danger-background);
  border-color: #7e1620;
  color: #fff;
  color: var(--color-danger-text);
}
.badge {
  background: #ebeff3;
  background: var(--color-dark-background);
  border-radius: 0.25rem;
  color: #434956;
  color: var(--color-dark-text);
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.badge.badge__primary {
  background: #005994;
  background: var(--color-primary-background);
  color: #fff;
  color: var(--color-primary-text);
}
.badge.badge__secondary {
  background: #c4c4c4;
  background: var(--color-secondary-background);
  color: #0c0c0e;
  color: var(--color-secondary-text);
}
.badge.badge__warning {
  background: #ffc107;
  background: var(--color-warning-background);
  color: #0c0c0e;
  color: var(--color-warning-text);
}
.badge.badge__success {
  background: #2cb54c;
  background: var(--color-success-background);
  color: #0c0c0e;
  color: var(--color-success-text);
}
.badge.badge__info {
  background: #b1e2f8;
  background: var(--color-info-background);
  color: #0c0c0e;
  color: var(--color-info-text);
}
.badge.badge__danger {
  background: #aa1d2b;
  background: var(--color-danger-background);
  color: #fff;
  color: var(--color-danger-text);
}
.block-2-cols__row {
  -ms-flex-flow: row wrap;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .block-2-cols__row {
    display: block;
  }
}
.block-2-cols__col {
  -ms-flex: 0 1 49%;
  -webkit-box-flex: 0;
  flex: 0 1 49%;
}
.block-2-cols__col h3 {
  border-bottom: 1px solid #434956;
  border-bottom: 1px solid var(--color-dark-text);
}
.block-2-cols__col h3 > img {
  display: inline-block;
  height: 1rem;
  margin-right: 0.625rem;
  margin-right: var(--spacing-small);
  vertical-align: middle;
  width: 1rem;
}
.breadcrumb {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb [class^="breadcrumb-item"] + [class^="breadcrumb-item"] {
  padding-left: 0.625rem;
  padding-left: var(--spacing-small);
}
.breadcrumb [class^="breadcrumb-item"] + [class^="breadcrumb-item"]:before {
  content: "/";
  display: inline-block;
  padding-right: 0.625rem;
  padding-right: var(--spacing-small);
}
.btn,
.btn:link,
.btn:visited {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #005994;
  background: var(--color-primary-background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: #fff;
  color: var(--color-primary-text);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  padding: 0.625rem 1rem;
  padding: var(--spacing-small) var(--spacing-base);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  left: 1px;
  position: relative;
  top: 1px;
}
.btn:active,
.btn:focus,
.btn:hover,
.btn:link:active,
.btn:link:focus,
.btn:link:hover,
.btn:visited:active,
.btn:visited:focus,
.btn:visited:hover {
  background-color: #003a61;
  color: #fff;
  color: var(--color-white);
}
.btn.btn__primary,
.btn:link.btn__primary,
.btn:visited.btn__primary {
  background: #005994;
  background: var(--color-primary-background);
  color: #fff;
  color: var(--color-primary-text);
}
.btn.btn__primary:active,
.btn.btn__primary:focus,
.btn.btn__primary:hover,
.btn:link.btn__primary:active,
.btn:link.btn__primary:focus,
.btn:link.btn__primary:hover,
.btn:visited.btn__primary:active,
.btn:visited.btn__primary:focus,
.btn:visited.btn__primary:hover {
  background-color: #003a61;
}
.btn.btn__secondary,
.btn:link.btn__secondary,
.btn:visited.btn__secondary {
  background-color: #c4c4c4;
  background-color: var(--color-secondary-background);
  color: #0c0c0e;
  color: var(--color-secondary-text);
}
.btn.btn__secondary:active,
.btn.btn__secondary:focus,
.btn.btn__secondary:hover,
.btn:link.btn__secondary:active,
.btn:link.btn__secondary:focus,
.btn:link.btn__secondary:hover,
.btn:visited.btn__secondary:active,
.btn:visited.btn__secondary:focus,
.btn:visited.btn__secondary:hover {
  background-color: #aaa;
}
.btn.btn__warning,
.btn:link.btn__warning,
.btn:visited.btn__warning {
  background-color: #ffc107;
  background-color: var(--color-warning-background);
  color: #0c0c0e;
  color: var(--color-warning-text);
}
.btn.btn__warning:active,
.btn.btn__warning:focus,
.btn.btn__warning:hover,
.btn:link.btn__warning:active,
.btn:link.btn__warning:focus,
.btn:link.btn__warning:hover,
.btn:visited.btn__warning:active,
.btn:visited.btn__warning:focus,
.btn:visited.btn__warning:hover {
  background-color: #d39e00;
}
.btn.btn__success,
.btn:link.btn__success,
.btn:visited.btn__success {
  background-color: #2cb54c;
  background-color: var(--color-success-background);
  color: #0c0c0e;
  color: var(--color-success-text);
}
.btn.btn__success:active,
.btn.btn__success:focus,
.btn.btn__success:hover,
.btn:link.btn__success:active,
.btn:link.btn__success:focus,
.btn:link.btn__success:hover,
.btn:visited.btn__success:active,
.btn:visited.btn__success:focus,
.btn:visited.btn__success:hover {
  background-color: #228c3b;
}
.btn.btn__info,
.btn:link.btn__info,
.btn:visited.btn__info {
  background-color: #b1e2f8;
  background-color: var(--color-info-background);
  color: #0c0c0e;
  color: var(--color-info-text);
}
.btn.btn__info:active,
.btn.btn__info:focus,
.btn.btn__info:hover,
.btn:link.btn__info:active,
.btn:link.btn__info:focus,
.btn:link.btn__info:hover,
.btn:visited.btn__info:active,
.btn:visited.btn__info:focus,
.btn:visited.btn__info:hover {
  background-color: #82d1f4;
}
.btn.btn__danger,
.btn:link.btn__danger,
.btn:visited.btn__danger {
  background-color: #aa1d2b;
  background-color: var(--color-danger-background);
  color: #fff;
  color: var(--color-danger-text);
}
.btn.btn__danger:active,
.btn.btn__danger:focus,
.btn.btn__danger:hover,
.btn:link.btn__danger:active,
.btn:link.btn__danger:focus,
.btn:link.btn__danger:hover,
.btn:visited.btn__danger:active,
.btn:visited.btn__danger:focus,
.btn:visited.btn__danger:hover {
  background-color: #7e1620;
}
.btn:link[disabled],
.btn:visited[disabled],
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn__img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.btn__img:after {
  content: " ";
  display: inline-block;
  min-width: 1rem;
}
.btn__img__search {
  background-image: url(assets/icons/search.svg);
}
.categories {
  --flex-gutter-size: 10px;
}
.categories header {
  margin-bottom: 2.5em;
  margin-bottom: var(--spacing-large);
}
.categories__list {
  -ms-flex-line-pack: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: calc(var(--flex-gutter-size) * -1);
  padding: 0;
}
.categories__list-item {
  -ms-flex: 1 0 200px;
  -webkit-box-flex: 1;
  flex: 1 0 200px;
  margin: var(--flex-gutter-size);
  text-align: center;
}
.categories__list-item a,
.categories__list-item a:link,
.categories__list-item a:visited {
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0s;
  background: #fff;
  background: var(--color-white);
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: #4c5467;
  color: var(--color-light-text);
  display: block;
  height: 100%;
  padding: 0.625rem 1rem;
  padding: var(--spacing-small) var(--spacing-base);
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0s;
}
.categories__list-item a:active,
.categories__list-item a:focus,
.categories__list-item a:hover {
  -webkit-transform: scale(1.1);
  text-decoration: underline;
  transform: scale(1.1);
}
.categories__list-item a :not(img) {
  font-size: 1rem;
  margin: 0;
}
.categories__list-item a img {
  display: inline-block;
  margin: 0.625rem 0;
  margin: var(--spacing-small) 0;
  width: 2.5rem;
}
.main-footer {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main-footer {
    display: block;
  }
}
.footer__block {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
.footer__block:not(:last-child) {
  margin-right: 3rem;
}
.footer__block h3 {
  font-size: 1rem;
  font-size: var(--font-size-base);
  font-weight: 700;
}
.footer__block ul {
  font-size: 0.9rem;
  font-size: var(--font-size-small);
  list-style-type: none;
  padding: 0;
}
.footer__block ul li {
  margin: 6px 0;
}
.footer__block a {
  color: #434956;
  color: var(--color-dark-text);
}
.main-header {
  margin-bottom: -0.625rem;
  margin-bottom: calc(var(--spacing-small) * -1);
}
a.main-header__logo,
a.main-header__logo:link,
a.main-header__logo:visited {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  color: #04234a;
  color: var(--color-blue-dark);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2rem;
  font-size: var(--font-size-h5);
  font-weight: 700;
  text-decoration: none;
}
a.main-header__logo:active,
a.main-header__logo:focus,
a.main-header__logo:hover,
a.main-header__logo:link:active,
a.main-header__logo:link:focus,
a.main-header__logo:link:hover,
a.main-header__logo:visited:active,
a.main-header__logo:visited:focus,
a.main-header__logo:visited:hover {
  text-decoration: underline;
}
a.main-header__logo:link img,
a.main-header__logo:visited img,
a.main-header__logo img {
  margin-right: 1.25rem;
  margin-right: var(--spacing-medium);
  width: 120px;
}
.tag {
  background: #ebeff3;
  background: var(--color-dark-background);
  border-radius: 0.25rem;
  color: #434956;
  color: var(--color-dark-text);
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  margin: 10px;
  min-width: 70px;
  padding: 7px 10px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.tag.tag__primary {
  background: #005994;
  background: var(--color-primary-background);
  color: #fff;
  color: var(--color-primary-text);
}
.tag.tag__secondary {
  background: #c4c4c4;
  background: var(--color-secondary-background);
  color: #0c0c0e;
  color: var(--color-secondary-text);
}
.tag.tag__warning {
  background: #ffc107;
  background: var(--color-warning-background);
  color: #0c0c0e;
  color: var(--color-warning-text);
}
.tag.tag__success {
  background: #2cb54c;
  background: var(--color-success-background);
  color: #0c0c0e;
  color: var(--color-success-text);
}
.tag.tag__info {
  background: #b1e2f8;
  background: var(--color-info-background);
  color: #0c0c0e;
  color: var(--color-info-text);
}
.tag.tag__danger {
  background: #aa1d2b;
  background: var(--color-danger-background);
  color: #fff;
  color: var(--color-danger-text);
}
.search {
  position: relative;
  text-align: center;
}
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 0;
  padding: var(--spacing-small) 0;
}
.search__form .search__input {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-width: 14rem;
}
.search__form button {
  margin-left: 5px;
}
.search__loading {
  bottom: -1em;
  margin: 0;
  position: absolute;
  width: 100%;
}
.search-results__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search-results__list li:first-child a {
  margin: 0;
}
.search-results__list a,
.search-results__list a:link,
.search-results__list a:visited {
  border: 1px solid #c9d3df;
  border: 1px solid var(--color-element-border);
  border-radius: 0.25rem;
  border-radius: var(--border-radius-base);
  color: #434956;
  color: var(--color-dark-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.25rem 0 0;
  margin: var(--spacing-medium) 0 0 0;
  padding: 1.25rem;
  padding: var(--spacing-medium);
  text-decoration: none;
}
.search-results__list a:active,
.search-results__list a:focus,
.search-results__list a:hover {
  background: #fff;
  background: var(--color-white);
  text-decoration: underline;
}
.search-results__list .search-results__item header * {
  font-size: 1.1rem;
  font-size: var(--font-size-h6);
  margin: 0;
}
.search-results__list .search-results__item blockquote {
  margin: 0;
}
.search-results__list .search-results__item footer {
  font-style: italic;
  margin: 0.625rem 0 0;
  margin: var(--spacing-small) 0 0 0;
}
.skip-links {
  position: absolute;
  text-align: center;
  width: 100%;
}
.skip-links a {
  background: #005c99;
  background: var(--color-blue);
  color: #fff;
  color: var(--color-white);
  left: -100%;
  padding: 20px;
  position: absolute;
  top: 20px;
}
.skip-links a:active,
.skip-links a:focus {
  left: 0;
  position: relative;
}
.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.support img {
  margin-right: 2.5em;
  margin-right: var(--spacing-large);
  min-width: 25%;
}
.support__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.support__form .support__input {
  min-width: 2rem;
}
.support__form .support__submit {
  margin-left: 5px;
}
@media (max-width: 600px) {
  .support {
    display: block;
    padding: 1.25rem;
    padding: var(--spacing-medium);
  }
  .support img {
    display: none;
  }
}
