/* Buttons.

    <a href="#" class="btn">Valider</a>
    <button type="submit" class="btn">Valider</button>
--------------------------------------------------------------------------- */

.btn,
.btn:link,
.btn:visited {

    appearance: none;

    display: inline-block;
    margin: 0;
    text-align: center;
    white-space: nowrap;

    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    padding: var(--spacing-small) var(--spacing-base);

    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: var(--border-radius-base);
    border: 1px solid transparent;

    cursor: pointer;

    /* Specific to <a> elements. */
    text-decoration: none;

    &:focus,
    &:hover {
        background-color: color-mod(var(--color-blue) lightness(-10%));
        color: var(--color-white);
    }

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
        background-color: color-mod(var(--color-blue) lightness(-10%));
        color: var(--color-white);
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }

}

/* Buttons containing only 1 image.

In this case, a text explaining what the button is doing should be made
available to screen reader users, but hidden from sighted users, e.g.:

    <button type="submit" class="btn btn__img btn__img__search">
        <span class="hidden">Rechercher</span>
    </button>

The <span> element will be moved away from the normal flow of the document.
--------------------------------------------------------------------------- */

.btn__img {

    background-repeat: no-repeat;
    background-position: 50% 50%;

    /*
    Artificially inject an empty text node with a width, otherwise the <button>
    would be empty (because it's only child has a `.hidden` class) and properties
    related to text (such as font-size, line-height, etc.) would not be applied.
    This would result in buttons with incoherent sizes.
    */
    &::after {
        content: ' ';
        min-width: 1rem;
        display: inline-block;
    }

}

.btn__img__search {
    background-image: url(assets/icons/search.svg);
}
