.feedback-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
}

.feedback-modal__intro {
  width: 80%;
}

.feedback__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding: var(--spacing-medium) 0;
}

.feedback__input {
  margin-bottom: var(--spacing-medium);
}

.feedback__action {
  display: flex;
  height: 5em;
}
.feedback__button {
  align-self: flex-start;
  margin-right: var(--spacing-base);
}

.feedback__status {
  flex: 1;
}
