.search {
  text-align: center;
  position: relative;
}

.search__form {
  display: flex;
  padding: var(--spacing-small) 0;
  position: relative;
  height: 5rem;
  & button {
    margin-left: 5px;
    width: 4rem;
  }
}

.search__fields {
  flex: 1 1 auto;
  display: flex;
}
.search__facets {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0.575rem;
  border: none;
  max-width: 10rem;
  border-radius: var(--border-radius-base);
  background-color: var(--color-lighter-grey);
}
.facet-icon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 calc(var(--spacing-small) / 2);
}
.facet-value {
  color: var(--color-almost-black);
  font-size: var(--font-size-small);
  border: 1px solid transparent;
  background-color: transparent;
  background-position: top 1rem right 0.75em;
  width: auto;
  padding: 0.6em 2.1em 0.6em 2em;
  font-style: italic;
}

.search__input[type="search"] {
  appearance: none;
  border: 1px solid var(--color-element-border);
  border-radius: var(--border-radius-base);
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: var(--color-white);

  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
  padding: 0;
  padding-right: 0.5rem;
  padding-left: 11.5rem;
  line-height: calc(3.625rem - 1px);
  transition: border 250ms ease;
}
.search__input[type="search"]:focus {
  outline: none;
  border-color: var(--color-blue-light);
}

.search__loading {
  position: absolute;
  bottom: -1em;
  margin: 0;
  width: 100%;
}
