.skip-links {

    position: absolute;
    width: 100%;
    text-align: center;

    & a {
        position: absolute;
        left: -100%;
        top: 20px;
        padding: 20px;
        background: var(--color-blue);
        color: var(--color-white);
    }

    & a:focus,
    & a:active {
        position: relative;
        left: 0;
    }

}
