body {
  font-size: 12px;
}
* {
  font-family: Helvetica, Verdana, arial;
}
a {
  color: #0e4d52;
}

.highlight {
  background: #f9ff5e;
  padding: 0 2px;
}

.FadeDelay-ready-false {
  opacity: 0;
}

.FadeDelay-ready-true {
  opacity: 1;
}

.accordion {
  margin-bottom: 10px;
}
.accordion__title {
  box-sizing: border-box;
}
