body {
  font-size: 12px;
}
* {
  font-family: Helvetica, Verdana, arial;
}

.highlight {
  background: #f9ff5e;
  padding: 0 2px;
}

.FadeDelay-ready-false {
  opacity: 0;
}

.FadeDelay-ready-true {
  opacity: 1;
}

.accordion {
  margin-bottom: 10px;
}
.accordion__title {
  box-sizing: border-box;
}

/* Title as button link */

.title-link {
  text-decoration: none;
  cursor: pointer;
}
.title-link:hover,
.title-link:active {
  text-decoration: underline;
}

/* Search results */

.search-results {
  background: #f3f3f3;
  padding: 20px;
  margin: 20px -24px -24px -24px;
}

.search-results-link,
.search-results-link:link,
.search-results-link:visited {
    display: block;
    margin: 20px auto;
    color: #1c1c1c;
    background: #fff;
}

.search-results-link:focus,
.search-results-link:hover,
.search-results-link:active {
    text-decoration: underline;
    background: #ebeff3;
}

.search-results article {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 10px 20px;
}

.search-results article.code_du_travail {
  border-left-width: 6px;
  border-left-color: #4edc7c;
}

.search-results article.faq {
  border-left-width: 6px;
  border-left-color: #ffc63c;
}

.search-results article.fiches_service_public {
  border-left-width: 6px;
  border-left-color: #ff5252;
}

.search-results article.fiches_ministere_travail {
  border-left-width: 6px;
  border-left-color: #528bff;
}

.search-results article.code_bfc {
  border-left-width: 6px;
  border-left-color: #000;
}

.search-results article h1 {
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.search-results article h1 span {
  color: #3b3b3b;
}

.search-results article blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background: transparent;
  border: 0;
  color: #545454;
}

.search-results article footer {
  border: 1px solid #e8edf4;
  border-width: 1px 0 0 0;
  margin: 10px -20px 0 -20px;
  padding: 10px 20px 0 20px;
}

/* Feedback after search results */

.feedback-stars {
  top: 9px;
  left: 5px;
}
