/* Visually hide content, it will still be read by a screen reader.
https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden--------------------------------------------------------------------------- */
.hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* https://developer.mozilla.org/fr/docs/Web/HTML/Element/center */
.center {
  text-align: center;
}

/* Display an external link icon after the text. */
.external-link__after::after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  background: url(src/assets/icons/external-link.svg) no-repeat 100% 50%;
  background-size: 15px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.bg-color {
  background: currentColor;
}

.color__white {
  color: var(--color-white);
}
