/* Box-model.
--------------------------------------------------------------------------- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* HTML
--------------------------------------------------------------------------- */

body {
  margin: 0;
  border-top: 5px solid var(--color-blue);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  color: var(--color-dark-text);
  background: var(--color-dark-background);
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  line-height: var(
    --line-height-base
  ); /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom. */
  -webkit-font-smoothing: antialiased;
}

main {
  color: var(--color-light-text);
  background: var(--color-light-background);
}
