name: Release

on: workflow_dispatch

concurrency:
  cancel-in-progress: true
  group: release-${{ github.ref }}

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    if: github.ref == 'refs/heads/master'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub App Token
        id: token
        uses: SocialGouv/token-bureau@main
        with:
          token-bureau-url: https://token-bureau.fabrique.social.gouv.fr
          audience: socialgouv
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Set git
        run: |
          git config --global user.name "${NAME}"
          git config --global user.email "${EMAIL}"
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          NAME: ${{ secrets.SOCIALGROOVYBOT_NAME }}
          EMAIL: ${{ secrets.SOCIALGROOVYBOT_EMAIL }}
      - name: Build for npm
        run: pnpm build:npm
      - name: Versionning code
        run: GH_TOKEN=${GITHUB_TOKEN} pnpm lerna version --force-publish --yes --conventional-commits --create-release github
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
      - name: Rebase master to dev
        run: |
          git config --global user.name "${NAME}"
          git config --global user.email "${EMAIL}"
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git switch dev
          git pull
          git rebase master
          git push
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          NAME: ${{ secrets.SOCIALGROOVYBOT_NAME }}
          EMAIL: ${{ secrets.SOCIALGROOVYBOT_EMAIL }}
      - name: Deploy to npm
        run: pnpm lerna publish from-package --yes
